@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
    <div>
        <table class="auto-style1">
            <tr>
                <td class="auto-style2">Laptop Features</td>
                <td>Best Options for Most Students</td>
            </tr>
            <tr>
                <td class="auto-style2">CPU</td>
                <td><span style="color: rgb(38, 38, 38); font-family: intel-clear, tahoma, Helvetica, helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">Intel® Core™ i5 processor for solid performance</span></td>
            </tr>
            <tr>
                <td class="auto-style2">HDD</td>
                <td>1TB</td>
            </tr>
            <tr>
                <td class="auto-style2">SSD</td>
                <td>128GB</td>
            </tr>
            <tr>
                <td class="auto-style2">RAM</td>
                <td>8GB</td>
            </tr>
            <tr>
                <td class="auto-style2">Screen Size</td>
                <td>15-inch touchscreen</td>
            </tr>
            <tr>
                <td class="auto-style2">Ports</td>
                <td>
                    <p style="box-sizing: border-box; margin: 0px 0px 11px; line-height: 1.25; color: rgb(38, 38, 38); font-family: intel-clear, tahoma, Helvetica, helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                        Thunderbolt™ 3 or USB 3.1 ports
                    </p>
                    <p style="box-sizing: border-box; margin: 0px 0px 11px; line-height: 1.25; color: rgb(38, 38, 38); font-family: intel-clear, tahoma, Helvetica, helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                        HDMI/DVI/VGA ports
                    </p>
                    <p style="box-sizing: border-box; margin: 0px 0px 11px; line-height: 1.25; color: rgb(38, 38, 38); font-family: intel-clear, tahoma, Helvetica, helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                        SD card reader port
                    </p>
                </td>
            </tr>
            <tr>
                <td class="auto-style2">Battery Life</td>
                <td>up to six hours</td>
            </tr>
            <tr>
                <td class="auto-style2">operating system</td>
                <td><span style="color: rgb(38, 38, 38); font-family: intel-clear, tahoma, Helvetica, helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; background-color: rgb(247, 247, 247); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">  Windows® 10</span></td>
            </tr>
        </table>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</main>