@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h2 id="title">What are you looking for today?</h2>
        
        <p><a href="http://localhost:53697/Home/About" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">

        <h2 id="gettingStartedTitle">Gaming Laptops</h2>

        <p>  <a href="http://localhost:53697/GamingLaptops/Index" class="btn btn-primary btn-md">Buy Now &raquo;</a></p>
        <h2 id="gettingStartedTitle">Students Laptops</h2>

        <p>  <a href="http://localhost:53697/StudentLaptops/index" class="btn btn-primary btn-md">Buy Now &raquo;</a></p>

    </div>
</main>